<div>
    <p-panel [style]="{'text-align':'center'}" width="600" responsive="true">
        <p-header>
            <span class="ui-panel-title" style="font-size:20px;margin-top:2px;float:left;">Disclaimer</span>
        </p-header>
        <div style="text-align:left;">
            <span style="font-weight:bold">
                
                    PLEASE READ CAREFULLY THE FOLLOWING TERMS and CONDITIONS GOVERNING YOUR COMPANY’S AND ITS PERSONNEL’S ACCESS
                    AND USE OF THIS SITE YOUR AGREEMENT IS A CONDITION FOR USING THIS SITE.               
            </span>
            <p style="font-weight:bold">Introduction</p>
            <p style="font-weight:bold">
                1. These are the general terms and conditions governing access and use of this site (“the Site”) the
                rights in which exclusively vest in Shell International B.V. and/or its licensors (collectively herein
                referred to as the “Owners”) . Different Shell[1] companies may use the Site for their procurement
                processes or part thereof.
            </p>
            <p style="font-weight:bold">
                2. By using the Site you agree to be bound by these terms and conditions without prejudice to any other
                terms and conditions (e.g. Bid Rules, or RFP terms) agreed with Shell.
            </p>
            <p style="font-weight:bold">Use of Site</p>
            <p style="font-weight:bold">
                1. You warrant that you will only use the Site in accordance with these terms and conditions and in an
                appro- priate and lawful manner.
            </p>
            <p style="font-weight:bold">
                2. The online bidding process requires the processing of personal data (“Data”) of the bidders. Shell
                requires the Data for the identification of the bidders (eg. name, job description, etc.) and for
                communication purposes
            </p>
        </div>
        <p-footer>
            <div class="ui-helper-clearfix">
                <button type="button" class="ui-button-secondary" style="float:right" pButton (click)="display=false" label="Accept"></button>
                <button type="button" class="ui-button" style="float:right" pButton (click)="display=false" label="Decline"></button>
            </div>
        </p-footer>
    </p-panel>
</div>